.vscode
/bin/
/internal/embedded/bin/*
!/internal/embedded/bin/.gitkeep

# python
.DS_Store
**/.DS_Store

# documentation build artifacts
docs/site/
docs/.venv/

# custom debugging
test_stability.sh

# working with teams
honeyruns/
