site_name: Rocketship CLI
site_url: https://docs.rocketship.sh/
repo_url: https://github.com/rocketship-ai/rocketship
repo_name: rocketship-ai/rocketship
docs_dir: src
site_dir: site

theme:
  name: material
  logo: assets/transparent-reverse.png
  favicon: assets/transparent.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started:
      - Installation: installation.md
      - Quick Start: quickstart.md
      - Test Run Management: test-run-management.md
  - Examples:
      - Overview: examples.md
      - HTTP Testing:
          - Request Chaining & Delays: examples/request-chaining.md
      - SQL Testing:
          - SQL Queries: examples/sql-testing.md
      - Supabase Testing:
          - Full-Stack Database Testing: examples/supabase-testing.md
      - Parameterizing Tests:
          - All About Variables: examples/variables.md
      - Custom Scripting:
          - JavaScript Integration: examples/custom-scripting.md
          - Shell Scripting: examples/shell-scripting.md
      - AI Testing:
          - Agent Plugin: examples/agent-testing.md
          - Browser Plugin: examples/browser-testing.md
      - Logging:
          - Log Plugin: examples/log-plugin.md
  - YAML Reference:
      - Overview: yaml-reference/plugin-reference.md
  - MCP Server: mcp-server.md
  - Deploy On Your Cloud:
      - Overview: deploy-on-your-cloud.md
      - Kubernetes: deploy-on-kubernetes.md
  - Command Reference:
      - Overview: reference/rocketship.md
      - run: reference/rocketship_run.md
      - list: reference/rocketship_list.md
      - get: reference/rocketship_get.md
      - start:
          - Overview: reference/rocketship_start.md
          - start server: reference/rocketship_start_server.md
      - stop:
          - Overview: reference/rocketship_stop.md
          - stop server: reference/rocketship_stop_server.md
      - validate: reference/rocketship_validate.md
      - version: reference/rocketship_version.md
  - Contributing: contributing.md
